html {
  color: #353535;
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir,
    'Segoe UI', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, Arial,
    sans-serif;
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

.app-layout {
  align-content: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.character-list {
  background: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  order: 1;
  overflow: hidden;
  padding: 0 50vw;
  white-space: nowrap;
}

.character-list li {
  background: #fff;
  display: inline-block;
  font-size: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.character-list .active {
  background: #b5b5b5;
  color: #fff;
}

.character-query {
  font-size: 8rem;
  line-height: 8rem;
  order: 2;
  text-align: center;
}

.character-query label {
  border-bottom: 0.5rem solid #f5f5f5;
  display: inline-block;
  margin: 2rem 0;
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-3rem);
  }
}

.transition-in .character-query label {
  animation-name: slide-in;
  animation-duration: 250ms;
  opacity: 1;
  transform: translateX(0);
}

.transition-out .character-query label {
  animation-name: slide-out;
  animation-duration: 250ms;
  opacity: 0;
  transform: translateX(-3rem);
}

.response-prompt {
  margin: 0 auto 2rem;
  max-width: 50rem;
}

.response-prompt input {
  background: #ededed;
  border: 0 none;
  box-sizing: border-box;
  color: #353535;
  display: block;
  font-size: 4rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.transition-congratulate .response-prompt input {
  color: #e52dbc;
  transition: color 125ms 250ms;
}

.transition-out .response-prompt input {
  color: #ededed;
  transition: color 125ms 250ms;
}

.response-prompt input::placeholder {
  background-position-x: 100%;
  color: #ededed;
}

.transition-in .response-prompt input::placeholder {
  background: linear-gradient(90deg, #d5d5d5 50%, #ededed 50%);
  background-position-x: 0;
  background-size: 200%;
  transition: background-position-x 27s 3s linear;
}

.transition-out .response-prompt input::placeholder {
  transition: none;
}

.writing-system-selector {
  margin: 0 auto;
  max-width: 52rem;
  order: 3;
  position: relative;
  width: 100%;
}

.writing-system-selector button {
  background: transparent;
  border: 0 none;
  box-sizing: border-box;
  color: #353535;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.writing-system-selector button:hover {
  background: #e5e5e5;
}

.writing-system-selector button.current {
  background: #ededed;
}

.writing-system-selector li {
  list-style: none;
}

.writing-system-selector menu {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  bottom: 100%;
  left: 1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
}

.writing-system-selector summary {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  color: #858585;
  cursor: pointer;
  font-size: 1.5rem;
  list-style: none;
  margin: 0.25rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
  transition: background 125ms;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.writing-system-selector summary::-webkit-details-marker {
  display: none;
}

.writing-system-selector summary:hover {
  background: #e5e5e5;
}

.writing-system-selector[open] summary {
  background: #d5d5d5;
  color: #656565;
  transition: none;
}
