:root {
  --shade-1:  hsl(196, 59%,  8%);
  --shade-2:  hsl(196, 58%, 18%);
  --shade-3:  hsl(196, 57%, 28%);
  --shade-4:  hsl(196, 56%, 38%);
  --shade-5:  hsl(196, 55%, 48%);
  --shade-6:  hsl(196, 54%, 58%);
  --shade-7:  hsl(196, 53%, 68%);
  --shade-8:  hsl(196, 52%, 78%);
  --shade-9:  hsl(196, 51%, 88%);
  --shade-10: hsl(196, 50%, 98%);
  --app-background-color: var(--shade-10);
  --character-list-background-color: var(--shade-8);
  --character-list-item-background-color: white;
  --character-list-item-text-color: var(--shade-1);
  --character-list-active-background-color: var(--shade-5);
  --character-list-active-text-color: white;
  --query-text-color: var(--shade-2);
  --query-shadow-color: var(--shade-9);
  --response-background-color: var(--shade-8);
  --response-timer-color: var(--shade-7);
  --response-text-color: var(--shade-3);
  --response-congratulations-text-color: var(--shade-5);
  --summary-background-color: var(--shade-9);
  --summary-border-color: var(--shade-5);
  --summary-text-color: var(--shade-2);
  --summary-hover-background-color: var(--shade-8);
  --summary-hover-text-color: var(--shade-1);
  --summary-open-background-color: var(--shade-7);
  --summary-open-text-color: var(--shade-1);
  --menu-background-color: white;
  --menu-border-color: var(--shade-6);
  --menu-text-color: var(--shade-1);
  --menu-item-hover-background-color: var(--shade-9);
  --menu-item-hover-text-color: var(--shade-1);
  --menu-item-current-background-color: var(--shade-10);
  --menu-item-current-text-color: var(--shade-1);
  --legal-text-color: var(--shade-5);
}

html {
  background: var(--app-background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir,
    'Segoe UI', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, Arial,
    sans-serif;
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

.app-layout {
  align-content: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.character-list {
  background: var(--character-list-background-color);
  border-bottom: 1px solid var(--character-list-background-color);
  flex-basis: 3.5rem;
  min-height: 3.5rem;
  margin: 0;
  order: 1;
  overflow: hidden;
  padding: 0 50vw;
  white-space: nowrap;
}

.character-list li {
  background: var(--character-list-item-background-color);
  color: var(--character-list-item-text-color);
  display: inline-block;
  font-size: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.character-list .active {
  background: var(--character-list-active-background-color);
  color: var(--character-list-active-text-color);
}

.character-query {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 8rem;
  justify-content: center;
  line-height: 8rem;
  order: 2;
  text-align: center;
}

.character-query label {
  border-bottom: 0.5rem solid var(--query-shadow-color);
  color: var(--query-text-color);
  display: inline-block;
  margin: 2rem 0;
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-3rem);
  }
}

.transition-in .character-query label {
  animation-name: slide-in;
  animation-duration: 250ms;
  opacity: 1;
  transform: translateX(0);
}

.transition-out .character-query label {
  animation-name: slide-out;
  animation-duration: 250ms;
  opacity: 0;
  transform: translateX(-3rem);
}

.legal {
  order: 5;
}

.legal p {
  color: var(--legal-text-color);
  margin: 0 0 0.5rem;
  text-align: center;
}

.response-prompt {
  margin: 0 auto 2rem;
  max-width: 50rem;
  width: 100%;
}

.response-prompt input {
  background: var(--response-background-color);
  border: 0 none;
  box-sizing: border-box;
  color: var(--response-text-color);
  display: block;
  font-family: inherit;
  font-size: 4rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  transition: all 125ms 200ms;
  width: 100%;
}

@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.375rem);
  }
  50% {
    transform: translateY(0.375rem);
  }
  75% {
    transform: translateY(-0.375rem);
  }
  100% {
    transform: translateY(0);
  }
}

.transition-congratulate .response-prompt input {
  animation-name: wiggle;
  animation-timing-function: ease-out;
  animation-delay: 200ms;
  animation-duration: 300ms;
  color: var(--response-congratulations-text-color);
}

.transition-out .response-prompt input {
  color: var(--response-text-color);
}

.response-prompt input::placeholder {
  background-position-x: 100%;
  color: var(--response-background-color);
}

.transition-in .response-prompt input::placeholder {
  background: linear-gradient(90deg, var(--response-timer-color) 50%, var(--response-background-color) 50%);
  background-position-x: 0;
  background-size: 200%;
  transition: background-position-x 27s 3s linear;
}

.transition-out .response-prompt input::placeholder {
  transition: none;
}

.writing-system-selector {
  margin: 0 auto;
  max-width: 52rem;
  order: 3;
  position: relative;
  width: 100%;
  z-index: 1;
}

.writing-system-selector button {
  background: transparent;
  border: 0 none;
  box-sizing: border-box;
  color: var(--menu-text-color);
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.writing-system-selector button:hover {
  background: var(--menu-item-hover-background-color);
  color: var(--menu-item-hover-text-color);
}

.writing-system-selector button.current {
  background: var(--menu-item-current-background-color);
  color: var(--menu-item-current-text-color);
}

.writing-system-selector li {
  list-style: none;
}

.writing-system-selector menu {
  background: var(--menu-background-color);
  border: 1px solid var(--menu-border-color);
  border-radius: 0.25rem;
  bottom: 100%;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  left: 1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
}

.writing-system-selector summary {
  background: var(--summary-background-color);
  border: 1px solid var(--summary-border-color);
  border-radius: 0.25rem;
  color: var(--summary-text-color);
  cursor: pointer;
  font-size: 1.5rem;
  list-style: none;
  margin: 0.25rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
  transition: background 125ms;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.writing-system-selector summary::-webkit-details-marker {
  display: none;
}

.writing-system-selector summary:hover {
  background: var(--summary-hover-background-color);
  color: var(--summary-hover-text-color);
}

.writing-system-selector[open] summary {
  background: var(--summary-open-background-color);
  color: var(--summary-open-text-color);
  transition: none;
}
