html {
  color: #353535;
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir,
    'Segoe UI', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, Arial,
    sans-serif;
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

.app-layout {
  align-content: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.character-list {
  background: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  order: 1;
  overflow: hidden;
  padding: 0 50vw;
  white-space: nowrap;
}

.character-list li {
  background: #fff;
  display: inline-block;
  font-size: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.character-list .active {
  background: #b5b5b5;
  color: #fff;
}

.character-query {
  font-size: 8rem;
  line-height: 8rem;
  order: 2;
  text-align: center;
}

.character-query label {
  border-bottom: 0.5rem solid #f5f5f5;
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-3rem);
  }
}

.transition-in .character-query label {
  animation-name: slide-in;
  animation-duration: 250ms;
  opacity: 1;
  transform: translateX(0);
}

.transition-out .character-query label {
  animation-name: slide-out;
  animation-duration: 250ms;
  opacity: 0;
  transform: translateX(-3rem);
}

.response-prompt {
  margin: 2rem auto;
  max-width: 50rem;
}

.response-prompt input {
  background: #ededed;
  border: none #c5c5c5;
  border-width: 1px 0;
  box-sizing: border-box;
  color: #353535;
  display: block;
  font-size: 4rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.transition-congratulate .response-prompt input {
  color: #e52dbc;
  transition: color 125ms 250ms;
}

.response-prompt input::placeholder {
  color: #c5c5c5;
}

.transition-in .response-prompt input::placeholder {
  color: #c5c5c5;
  transition: color 21s 7s ease-in;
}

.transition-out .response-prompt input::placeholder {
  color: #ededed;
  transition: none;
}

.writing-system-selector {
  border-top: 1px solid #e4e5e6;
  order: 3;
  position: relative;
}

.writing-system-selector button {
  background: #fff;
  border: 0 none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.writing-system-selector button:hover {
  background: #f5f5f5;
}

.writing-system-selector li {
  list-style: none;
}

.writing-system-selector menu {
  border: solid #e4e5e6;
  border-width: 1px 0;
  bottom: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.writing-system-selector summary {
  background: #fff;
  color: #b5b5b5;
  cursor: pointer;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
  text-align: center;
}

.writing-system-selector summary:hover {
  background: #f5f5f5;
}

.writing-system-selector[open] summary {
  background: #ddd;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
