* {
  user-select: none;
}

body, html {
  height: 100%;
  overflow: hidden;

  @media (orientation: portrait) and (max-width: 480px) {
    overflow: auto;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

button {
  background: rgb(0, 109, 149);
  border: 0;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding: 7px 28px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  background: rgba(0, 0, 0, 0.0125);
  border: 1px solid rgb(225,225,225);
  margin: 0;
  padding: 3px 6px;

  &:empty {
    background: rgb(255, 255, 255);
  }

  &.active {
    background: rgb(255, 20, 147);
    color: rgb(255, 255, 255);
  }
}

tr {
  margin: 0;
}

%interactable {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

%activatable-row {
  padding: 14px 28px 14px 21px;
  position: relative;

  &.active:after {
    content: '●';
    position: absolute;
    right: 21px;
    top: 14px;
  }
}

%disableable-item {
  padding: 7px;

  &.disabled {
    background: rgba(0, 0, 0, 0.0675);
    color: rgba(0, 0, 0, 0.25);
  }
}

.loading {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.language,
.character-set {
  @extend %interactable;
  @extend %activatable-row;
}

.character-classification-name {
  font-weight: 800;
  padding: 14px 21px 7px;
}

.character-classification-values {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 14px 14px;
}

.character-classification-value {
  @extend %interactable;
  @extend %disableable-item;

  min-width: 21px;
  text-align: center;
}

.languages,
.character-sets,
.character-classifications {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.character-table {
  padding: 21px;
  white-space: nowrap;
}

.responsive-table {
  overflow: auto;
}

.group-action {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 400;
  margin-left: 7px;

  &:hover {
    color: rgba(0, 0, 0, 0.75);
  }
}

.present-character {
  height: 231px;
  position: relative;
  width: 100%;
}

.display-character {
  bottom: 50px;
  font-size: 140px;
  left: 0;
  line-height: 161px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.display-character-enter {
  opacity: 0;
  transform: translateX(50px);
}

.display-character-enter.display-character-enter-active {
  opacity: 1;
  transition: all 250ms 300ms;
  transform: translateX(0);
}

.display-character-leave {
  opacity: 1;
  transform: translateX(0);
}

.display-character-leave.display-character-leave-active {
  opacity: 0;
  transition: all 250ms;
  transform: translateX(-50px);
}

.display-character-response {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.display-character-response input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 21px;
  outline: none;
  padding: 7px;
  text-align: center;
}

.player-controls {
  bottom: 21px;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
}

.player-control {
  @extend %interactable;
  @extend %disableable-item;
  font-size: 28px;
  height: 28px;
  line-height: 28px;
  min-width: 28px;
  text-align: center;
}

.app {
  display: flex;
  height: 100vh;

  @media (orientation: portrait) and (max-width: 480px) {
    display: block;
    height: auto;
  }
}

.content {
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 1;

  @media (orientation: portrait) and (max-width: 480px) {
    border: 0 none;
  }
}

.settings {
  background: rgb(255, 255, 255);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  height: 100vh;
  overflow: auto;
  position: relative;
  width: 350px;
  z-index: 2;

  @media (orientation: portrait) and (max-width: 480px) {
    border: 0 none;
    height: auto;
    width: auto;
  }
}
